:root{
    --Azul-Escuro: #080b2a;
    --Azul-Escuro-Fundos: #111650;
    --Azul-Claro: #f9f6f6;
    --Azul-Botao: #3647ff;
    --Branco-Fundo: #fcfcfc ;
    --Laranja-Botoes: #ff7203;
    --Laranja-Botoes-Brilho: #ff7f1c8d;
}

.modalAvisoTarefas{
    font-family: "OpenSans";
}

.modalAviso{
    font-family: "OpenSans";
}

.toast{
    position: fixed;
    background: #95ff9e;
    color: rgb(8, 51, 0);
    padding: 20px;
    display: flex;
    transform: translateY(-1000px);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
    z-index: 999;
    transition: 0.8s ease;
}

.toast.ativo{
    transform: translateY(0);
}

textarea{
    resize: none;
}

::-webkit-scrollbar-thumb{
    background: #3647ff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #202a9a;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/InterFont.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSansFont.ttf");
}

.modalAviso{
    display: flex;;
    color: black;
    margin-top: 3.0%;
    width: 100%;
    color: rgb(80, 0, 0);
    position: absolute;
    transform: translateY(-100px);
    justify-self: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: rgb(255, 167, 167);
    z-index: 999;
    transition: ease 0.5s;
}

.modalAviso.ativo{
    transform: translateY(0);
    color: rgb(80, 0, 0);
}

.modalAviso{
    display: flex;;
    color: black;
    margin-top: 3.0%;
    width: 100%;
    color: rgb(80, 0, 0);
    position: absolute;
    transform: translateY(-100px);
    justify-self: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: rgb(255, 167, 167);
    z-index: 999;
    transition: ease 0.5s;
    font-size: 1.17em;
}

.modalAviso h3{
    color: rgb(80, 0, 0);
}

main{
    background-color: #f9f6f6;
}