.mainLogin{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/images/fundo\ -\ login.png");
}

.mainLogin form{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: center;
    background-color: var(--Branco-Fundo);
    min-height: 100vh;
    max-height: fit-content;
    padding: 60px;
    padding-bottom: 0;
    padding-top: 0;
    gap: 10px;
}

form h1{
    font-family: "Inter";
    font-size: 40px;
    color: var(--Azul-Escuro);
}

form label{
    font-family: "OpenSans";
    font-size: 18px;
}

form input{
    font-family: "OpenSans";
    padding: 15px;
    border-radius: 13px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.080);
    transition: ease 0.3s;
}

form input:focus, textarea:focus, select:focus{
    border-color: var(--Azul-Botao);
}

form div{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

form button{
    background-color: var(--Azul-Botao);
    width: 100%;
    padding: 14px;
    font-size: 18px;
    color: white;
    font-family: "Inter";
    border: none;
    transition: ease 0.3s;
    border-radius: 15px;
}

form button:hover{
    transform: scale(1.05, 1.05);
    background-color: var(--Laranja-Botoes);
}

main form .links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "OpenSans";
}

.links a{
    color: grey;
    font-weight: 500;
    text-decoration: none;
    transition: ease 0.3s;
}

.links a:hover{
    transform: scale(1.05, 1.05);
    color: var(--Azul-Botao);
}

.logoForm{
    width: 60%;
    margin-top: -150px;
}