.modalAviso{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: #ffa7a7;
    color: #500000;
    transition: ease 0.4s;
    transform: translateY(-100px);
}

.modalAviso.ativo{
    transform: translateY(0);
}

.toast{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: #95ff9e;
    color: #083300;
    transition: ease 0.4s;
    transform: translateY(-100px);
}

.toast.ativo{
    transform: translateY(0);
}